*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px; 
}
/*
@layer header {
    header {
      margin: 2rem 0 0;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }
  
    .logoStarWars {
      grid-area: 1 / 2 / 1 / 3;
      display: flex;
      justify-self: end;
      margin-right: 16px;
      max-width: 140px;
    }
  
    .navBar {
      display: none;
    }
  
    .menuNavBar {
      grid-area: 1 / 1 / 1 / 1;
      display: flex;
      margin-left: 16px;
      max-width: 40px;
    }
  
    .titulo {
      grid-area: 2 / 1 / 2 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 20px 0 0;
      border-top: 2px solid var(--yellow);
      border-bottom: 2px solid var(--yellow);
    }
    .titulo__fonte {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 900;
      color: var(--yellow);
    }
  
    @media screen and (min-width: 375px) {
      .titulo__fonte {
        font-size: 1.75rem;
        line-height: 1.75rem;
      }
    }
  
    @media screen and (min-width: 600px) {
      .titulo__fonte {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .logoStarWars {
        max-width: 155px;
      }
  
      .menuNavBar {
        margin-left: 16px;
        max-width: 50px;
      }
  
      .titulo__fonte {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
}*/
:root{
  --gradiente: linear-gradient(
        to right,
        rgb(255, 255, 0),
        rgb(opacity: 1),
    )
}
.classNumber{
    display: flex;
    margin-top: -520px;
    margin-left: -40px;
    color: yellow;
    font-size: 500px;
    background-image: var(--gradiente);
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(255, 255, 0), rgba(255, 255, 0, 0.1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    z-index: 10;
    position:relative;
}
header{
    background-color: black;
    margin-top: 0px;
}

#divLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    padding: 5px;
    background-color: white;
    font-size:25px;
    width: 1050px;
}
#divMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TudoSobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: yellow;
    font-size: 25px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: yellow;
    margin-top:  20px; ;
    margin-bottom: 20px;
    width: 100%;
}

#divTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
menu>a{
    color: black;
    font-size: 25px;
}

h1{
    display: flex;
    font-size: 50px;
    font-family:Star;
    color: black;
    background-color: yellow;
    width: 1050px;
    margin-top: 25px;
    height: 150px;
    justify-content: center;
}



body{
    background-image:url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png);
    
}

p{
    color: white;
}
h2{
    size: 80px;
    color: yellow;
}
#secInfos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    width: 1050px;
    gap: 20px;
}
.banner{
    margin-top:50px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.tituloFilmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#divInfos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sinopse{
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.gridSinopse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom:solid 2px;
    border-color: yellow;
    align-items: center;
}
.saibaMais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    font-size: 16px;
    border: solid;
    border-radius: 5px;
    width: 130px;
}
.divSaibaMais{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
}
.seta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.divSinopses{
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 1fr;
    size: 500px;
}



.footer{
    background-color: black;
    color: white;
}
p{
    margin-bottom: 10px;
    text-align: center;
}
.topo{
    font-size: 16px;
    display: flex;
    justify-items: end;
    justify-content: flex-end;
    padding-right: 20px;
}
.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-top: 20px;
}
a{
    color: white;
}
footer>.LinksMapa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.nomes{
    width: 100%;
    justify-content: center;
    align-items: center; 
    color: white;
    display:flex;
    flex-direction: row;
}

.Nomes-Dev{
    padding: 16px;
    text-align: left;
    margin-bottom: 0px;
}

.Nomes-Dev:first-child{
    padding-left: 0px;
}

.Nomes-Dev:last-child{
    padding-right: 0px;
}
.Devs{
    display: flex;
    padding-top: 50px;
    text-align: start;
    justify-content: center;
    margin-left: -540px;
}
