body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image:url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h4 {
    padding: 0px;
    margin: 2px;
    width:max-content;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 150px;
    font-family: Inter;
    font-weight: 800;
    letter-spacing: 0.25px;
}
.passpaginas{
    display: flex;
    gap:  0.5rem;
    align-items: center;
    justify-content: center;
}
.inpaginas{
    color: white;
    font-size: 14px;
}
.leftpaginas, .rightpaginas{
    width:  20px;
    height:  20px;
}
.container-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 2%;
}
.container-in-img{
    height: 150px;
    width: 150px;
}
.navesgeral{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.navios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section > .DivTxtNaves{
    background-color: #FFE113;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;

    color: black;
    font-size: 70px;
    font-family: StarJedi Special Edition;
    font-weight: 400;
    letter-spacing: 0.25px;
}
#containerDiv{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}