@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.333;

    --yellow: rgba(255, 225, 19, 1);

    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --gray11: rgba(28, 28, 28, 1);
    --gray21: rgba(54, 54, 54, 1);
    --gray31: rgba(79, 79, 79, 1);
    --dim-gray: rgba(105, 105, 105, 1);
    --gray: rgba(128, 128, 128, 1);
    --dark-gray: rgba(169, 169, 169, 1);
    --silver: rgba(192, 192, 192, 1);
    --light-gray: rgba(211, 211, 211, 1);
    --gainsboro: rgba(220, 220, 220, 1);

    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: calc(var(--p) * var(--scale));
    --p: var(--base-size);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  }

  body {
    font-family: inter, sans-serif;
    font-weight: 800;
    line-height: var(--base-size);
    letter-spacing: 0.25px;
    text-align: center;
    background-color: var(--black);
    margin: 0;
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  p,
  .p {
    font-size: var(--p);
  }

  .wrapper {
    min-width: 320px;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

@layer header {
  header {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  /* logo */
  .logo {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-self: end;
    margin-right: 16px;
    max-width: 160px;
  }

  /* navbar so aparece somente no display de desktop */
  .navBar {
    display: none;
  }

  /* menu hamburguer */
  .iconeMenuHamburguer {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    margin-left: 16px;
    width: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .iconeMenuHamburguer--Feedback:hover {
    transform: scale(1.1);
  }
  .iconeMenuHamburguer--Feedback:active {
    transform: scale(0.97);
  }

  /* menu que aparece quando clicado no menu hamburguer */
  .menuHamburguer {
    background-color: var(--black);
    border-right: 2px solid var(--dark-gray);
    padding: 32px 16px 32px 32px;
    position: absolute;
    left: -360px;
    top: 165px;
    height: 100%;
    width: 320px;
    transition: left 0.5s ease;
    z-index: 3;
  }
  .openMenuHamburguer {
    left: 0px;
  }
  .noScroll {
    overflow: hidden;
  }
  .blurBackground {
    filter: blur(5px) opacity(0.7);
  }

  /* modificações para o conjunto de navegação que fica no menu */
  .menuHamburguer__conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .conteudo__itens li {
    list-style: none;
    text-align: start;
  }
  .conteudo__item--fonte a {
    display: inline-block;
    font-size: 1.25rem;
    color: var(--dark-gray);
    list-style: none;
    text-transform: uppercase;
  }

  /* modificações para o item dropdown */
  .conteudo__dropdown div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 272px;
  }
  .conteudo__dropdown--img {
    max-width: 24px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .conteudo__dropdown--imgClose {
    transform: rotate(-180deg);
  }
  .dropdown__subMenu {
    display: none;
    margin: 30px 0 0 20px;
  }
  .subMenuOpen {
    display: block;
  }
  .dropdown__subMenu .dropdown__subMenu--fonte a {
    font-size: 1rem;
  }

  /* estilização para repsta ao usuario */
  .itemFeedback a:hover {
    transform: scale(1.01);
    color: var(--white);
  }
  .itemFeedback a:active {
    color: var(--yellow);
    transform: scale(0.98);
    color: var(--yellow);
  }

  /* slogan da pagina */
  .slogan {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 10px;
    margin: 20px 0 0;
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    background-color: var(--black);
    z-index: 4;
  }
  .slogan--fonte p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    color: var(--yellow);
  }
  .slogan img {
    max-width: 1.5rem;
  }

  @media screen and (min-width: 375px) {
    /* tela mobile */
    .slogan--fonte p {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
    .slogan img {
      max-width: 1.75rem;
    }
  }

  @media screen and (min-width: 768px) {
    /* tela tablet */
    .logo {
      max-width: 180px;
    }

    .iconeMenuHamburguer {
      width: 50px;
    }

    .menuHamburguer {
      top: 177px;
    }

    .slogan--fonte p {
      font-size: 2rem;
      line-height: 2rem;
    }
    .slogan img {
      max-width: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    /* tela desktop */
    header {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
    }

    .logo {
      grid-area: 1 / 1;
      justify-self: center;
      max-width: 200px;
    }

    .iconeMenuHamburguer {
      display: none;
    }

    .navBar {
      grid-area: 2 / 1;
      display: inline-flex;
      padding: 5px;
      margin: 20px;
      gap: 35px;
      list-style: none;
      background-color: var(--white);
    }
    .navBar__item--fonte a {
      display: inline-block;
      font-size: 1.25rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--dim-gray);
    }
    .itemDropdown {
      position: relative;
    }
    .subMenu {
      position: absolute;
      display: none;
      top: 25px;
      left: -20px;
      width: 210px;
      padding: 20px 18px 20px;
      background-color: var(--gainsboro);
      border-right: 2px solid var(--dim-gray);
      border-bottom: 2px solid var(--dim-gray);
      border-left: 2px solid var(--dim-gray);
      z-index: 5;
    }
    .subMenu__item {
      text-align: left;
      list-style: none;
    }
    .subMenu__item--fonte a {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 750;
    }

    .itemDropdown:hover .subMenu {
      display: block;
    }

    .feedbackNavBar a:hover {
      color: var(--black);
      transform: scale(1.01);
    }
    .feedbackNavBar a:active {
      transform: scale(0.98);
    }

    .slogan {
      grid-area: 3 / 1;
      font-size: 2.25rem;
      line-height: 2.25rem;
      margin: 0;
    }
    .slogan img {
      max-width: 2.25rem;
    }
  }

  @media screen and (min-width: 1440px) {
    /* tela desktop */
    .navBar__item--fonte a {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .subMenu {
      top: 29px;
      width: 250px;
    }
    .subMenu__item--fonte a {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }
}

@layer base-content {
  .innerWrapper {
    display: flex;
    justify-content: center;
    background-image: url(../img/shared/background-Estrelas.png);
    background-size: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 16px 100px;
    background-color: var(--black);
  }
}

@layer footer {
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    margin: 25px 16px 50px;
  }

  .botaoPosicao {
    grid-area: 1 / 1;
    display: inline-block;
  }
  .botao a {
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-left: auto;
  }
  .botao--fonte a {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }
  .botao--img {
    width: 1rem;
  }
  .botaoFeedback a:hover {
    transform: scale(1.01);
  }
  .botaoFeedback a:active {
    transform: scale(0.98);
    color: var(--yellow);
  }

  .titulosFooter {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin: 0px 0 20px;
    color: var(--white);
  }

  .navFooter {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
  }
  .grupoLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 20px;
  }
  .grupoLinks__item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .grupoLinks__item--fonte a {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
  }
  .grupoLinks__item--img img {
    height: 1rem;
    width: 1rem;
  }
  .linksFeedback a:hover {
    transform: scale(1.01);
  }
  .linksFeedback a:active {
    transform: scale(0.98);
    color: var(--yellow);
  }

  .desenvolvedores {
    grid-area: 3 / 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 0 0;
  }
  .grupoDev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .grupoDev__item > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 165px;
  }
  .grupoDev__item--fonte {
    color: var(--white);
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .grupoDev__item--img {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .grupoDevFeedback > a:hover {
    transform: scale(1.05);
  }
  .grupoDevFeedback > a:active {
    transform: scale(0.98);
    fill: var(--yellow);
  }

  @media screen and (min-width: 768px) {
    .titulosFooter {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
