@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.333;

    --yellow: rgba(255, 225, 19, 1);
    --shadow: rgba(51, 50, 44, 1);

    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --gray11: rgba(28, 28, 28, 1);
    --gray21: rgba(54, 54, 54, 1);
    --gray31: rgba(79, 79, 79, 1);
    --dim-gray: rgba(105, 105, 105, 1);
    --gray: rgba(128, 128, 128, 1);
    --dark-gray: rgba(169, 169, 169, 1);
    --silver: rgba(192, 192, 192, 1);
    --light-gray: rgba(211, 211, 211, 1);
    --gainsboro: rgba(220, 220, 220, 1);

    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: calc(var(--p) * var(--scale));
    --p: var(--base-size);
  }

  html {
    font-size: 100%;
  }

  body {
    font-family: inter, sans-serif;
    font-weight: 800;
    line-height: 1.7;
    letter-spacing: 0.25px;
    text-align: center;
    background-color: var(--black);
    margin: 0;
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  p,
  .p {
    font-size: var(--p);
  }

  .wrapper {
    margin: 0 auto;
  }

  /* a {
    color: var(--black);
  }
  a:hover {
    color: var(--yellow);
    text-decoration: none;
  } */

  img {
    width: 100%;
    max-width: 100%;
  }
}

@layer header {
  header {
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    min-width: 320px;
  }

  .logoStarWars {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-self: end;
    margin-right: 16px;
    max-width: 140px;
  }

  .navBar {
    display: none;
  }

  .menuNavBar {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    margin-left: 16px;
    max-width: 40px;
  }

  .titulo {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0 0;
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
  }
  .titulo__fonte {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 900;
    color: var(--yellow);
  }

  @media screen and (min-width: 768px) {
    .logoStarWars {
      max-width: 155px;
    }

    .menuNavBar {
      margin-left: 16px;
      max-width: 50px;
    }

    .titulo__fonte {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  @media screen and (min-width: 1024px) {
    header {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
    }

    .logoStarWars {
      grid-area: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      max-width: 195px;
      margin: 0;
    }

    .menuNavBar {
      display: none;
    }

    .navBar {
      grid-area: 2 / 1;
      display: inline-flex;
      padding: 5px;
      margin: 20px 0 20px;
      gap: 20px;
      list-style: none;
      background-color: var(--white);
    }
    .navBar--fonte a {
      font-size: 1rem;
      line-height: 1rem;
      color: var(--dim-gray);
      text-transform: uppercase;
      text-decoration: none;
    }
    .navBar--fonte a:hover {
      color: var(--black);
    }
    .navBar__dropdown {
      position: relative;
    }
    .navBar__subMenu {
      display: none;
      position: absolute;
      top: 32px;
      right: -65px;
      bottom: -75px;
      left: -65px;
      padding: 20px 18px 20px;
      text-align: left;
      line-height: 0.1px;
      list-style: none;
      background-color: var(--light-gray);
    }
    .navBar__subMenu--fonte a {
      font-size: 0.9rem;
    }
    .navBar__dropdown:hover .navBar__subMenu {
      display: block;
    }

    .titulo {
      grid-area: 3 / 1;
      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0;
    }
  }

  @media screen and (min-width: 1440px) {
    .navBar--fonte a {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    .titulo {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

@layer conteudo {
  .innerWrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    min-width: 320px;
  }
  .innerWrapper > div:not(.ordemDeAssistir, .barraEsquerda, .barraDireita) {
    margin: 1rem;
  }

  .roloDeFotos {
    display: none;
  }
  .personagens {
    grid-area: 2 / 1;
  }
  .especies {
    grid-area: 3 / 1;
  }
  .naves {
    grid-area: 4 / 1;
  }
  .veiculos {
    grid-area: 5 / 1;
  }
  .planetas {
    grid-area: 6 / 1;
  }

  .ordem {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
  .ordem__titulo {
    grid-area: 1 / 1;
    font-family: StarJedi Special Edition;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0 20px;
    color: var(--yellow);
  }
  .oredem__conjuntoFilmes {
    grid-area: 2 / 1;
    display: flex;
    overflow-x: auto;
    /* scrollbar-width: thin;
    scrollbar-color: var(--white) var(--yellow); */
    gap: 20px;
  }
  /* .ordem:hover {
    scrollbar-color: #555 #888;
  } */
  .ordem__item img {
    max-width: 125px;
    max-height: 144px;
    height: 144px;
    width: auto;
  }
  .ordem__item--fonte p {
    color: var(--yellow);
    text-align: end;
    line-height: 1rem;
    margin: 4px 0 4px;
  }

  .personagens,
  .especies,
  .naves,
  .veiculos,
  .planetas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    padding: 10px;
    gap: 10px;
  }
  .personagens,
  .especies,
  .naves,
  .veiculos {
    background-color: var(--white);
    border-radius: 5px;
  }

  .tituloSeção h2 {
    grid-area: 1 / 1;
    font-family: StarJedi Special Edition;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 10px;
    background-color: var(--yellow);
    border-radius: 5px;
  }

  .conjuntoItens {
    grid-area: 2 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  .itens img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-bottom: 5px;
  }
  .descriçãoItem p {
    width: 100%;
    max-width: 100%;
    line-height: 1rem;
    margin: 0;
  }

  .conjuntoItens div:nth-child(n + 5) {
    display: none;
  }

  .botão {
    grid-area: 3 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botão a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
  }
  .botão--fonte a {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
  }
  .botão__seta img {
    width: 1rem;
    height: 1rem;
  }

  #planetas--margin {
    margin-bottom: 100px;
  }
  .planetas h2 {
    color: var(--white);
    background-color: var(--black);
    border: none;
  }
  .planetas p {
    color: var(--white);
  }
  .planetas a {
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
  }

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 425px) {
  }

  @media screen and (min-width: 567px) {
  }

  @media screen and (min-width: 768px) {
    .innerWrapper {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(7, auto);
    }

    .roloDeFotos {
      display: block;
      grid-area: 1 / 1;
    }
    .ordem {
      grid-area: 2 / 1;
    }
    .personagens {
      grid-area: 3 / 1;
    }
    .especies {
      grid-area: 4 / 1;
    }
    .naves {
      grid-area: 5 / 1;
    }
    .veiculos {
      grid-area: 6 / 1;
    }
    .planetas {
      grid-area: 7 / 1;
    }

    .conjuntoItens > div:nth-child(4) {
      display: block;
    }

    .tituloSeção h2 {
      font-size: 4rem;
      line-height: 4rem;
    }

    .conjuntoItens {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 1024px) {
    .innerWrapper {
      display: grid;
      grid-template-columns: 150px auto 150px;
      grid-template-rows: repeat(7, auto);
    }

    .barraEsquerda {
      grid-area: 1 / 1 / 8 / 1;
      background-image: url(../img/Barra\ Lateral.svg);
    }
    .barraDireita {
      grid-area: 1 / 3 / 8 / 3;
      background-image: url(../img/Barra\ Lateral.svg);
    }
    .roloDeFotos {
      display: block;
      grid-area: 1 / 2 / 1 / 2;
    }
    .ordem {
      grid-area: 2 / 2 / 2 / 2;
    }
    .personagens {
      grid-area: 3 / 2 / 3 / 2;
    }
    .especies {
      grid-area: 4 / 2 / 4 / 2;
    }
    .naves {
      grid-area: 5 / 2 / 5 / 2;
    }
    .veiculos {
      grid-area: 6 / 2 / 6 / 2;
    }
    .planetas {
      grid-area: 7 / 2 / 7 / 2;
    }

    .conjuntoItens > div:nth-child(5) {
      display: block;
    }

    .tituloSeção h2 {
      font-size: 4.375rem;
      line-height: 4.375rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .conjuntoItens > div:nth-child(6) {
      display: block;
    }

    .tituloSeção h2 {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}

@layer footer {
  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    min-width: 320px;
  }

  .footer > div {
    margin: 25px 16px 25px;
  }

  .fonteTitulo h5 {
    color: var(--white);
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
  }

  .botãoTopo {
    grid-area: 1 / 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .botãoTopo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .botãoTopo--fonte a {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
  }

  .mapaDoSite {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapaDoSite__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .mapaDoSite div > a {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 5px;
  }
  .mapaDoSite--fonteLinks a {
    color: var(--white);
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
  }

  .desenvolvedores {
    grid-area: 3 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  .desenvolvedores > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .desenvolvedores__conjunto > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 164px;
    gap: 10px;
  }
  .desenvolvedores--fonteNomes p {
    color: var(--white);
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    margin: 0;
  }
  .desenvolvedores__redesSociais figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    margin: 0;
  }
}
