h4 {
    padding: 0px;
    margin: 0px;
    width:max-content;
    color: black;
    font-size: 12px;
    text-align: center;
    width: 100%;
    font-family: Inter;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.25px;
}