@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.333;

    --yellow: rgba(255, 225, 19, 1);
    --shadow: rgba(51, 50, 44, 1);

    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --gray11: rgba(28, 28, 28, 1);
    --gray21: rgba(54, 54, 54, 1);
    --gray31: rgba(79, 79, 79, 1);
    --dim-gray: rgba(105, 105, 105, 1);
    --gray: rgba(128, 128, 128, 1);
    --dark-gray: rgba(169, 169, 169, 1);
    --silver: rgba(192, 192, 192, 1);
    --light-gray: rgba(211, 211, 211, 1);
    --gainsboro: rgba(220, 220, 220, 1);

    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: calc(var(--p) * var(--scale));
    --p: var(--base-size);
  }

  html {
    font-size: 100%;
  }

  body {
    font-family: inter, sans-serif;
    font-weight: 800;
    line-height: var(--base-size);
    letter-spacing: 0.25px;
    text-align: center;
    background-color: var(--black);
    margin: 0;
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  p,
  .p {
    font-size: var(--p);
  }

  .wrapper {
    margin: 0 auto;
    min-width: 320px;
  }

  /* a {
    color: var(--black);
  }
  a:hover {
    color: var(--yellow);
    text-decoration: none;
  } */

  img {
    width: 100%;
    max-width: 100%;
  }
}

@layer header {
  header {
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .logoStarWars {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-self: end;
    margin-right: 16px;
    max-width: 140px;
  }

  .navBar {
    display: none;
  }

  .menuNavBar {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    margin-left: 16px;
    max-width: 40px;
  }

  .titulo {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0 0;
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
  }
  .titulo__fonte {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 900;
    color: var(--yellow);
  }

  @media screen and (min-width: 768px) {
    .logoStarWars {
      max-width: 155px;
    }

    .menuNavBar {
      margin-left: 16px;
      max-width: 50px;
    }

    .titulo__fonte {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  @media screen and (min-width: 1024px) {
    header {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
    }

    .logoStarWars {
      grid-area: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      max-width: 195px;
      margin: 0;
    }

    .menuNavBar {
      display: none;
    }

    .navBar {
      grid-area: 2 / 1;
      display: inline-flex;
      padding: 5px;
      margin: 20px 0 20px;
      gap: 20px;
      list-style: none;
      background-color: var(--white);
    }
    .navBar--fonte a {
      font-size: 1rem;
      color: var(--dim-gray);
      text-transform: uppercase;
      text-decoration: none;
    }
    .navBar--fonte a:hover {
      color: var(--black);
    }
    .navBar__dropdown {
      position: relative;
    }
    .navBar__subMenu {
      display: none;
      position: absolute;
      top: 32px;
      right: -65px;
      bottom: -75px;
      left: -65px;
      padding: 20px 18px 20px;
      text-align: left;
      line-height: 0.1px;
      list-style: none;
      background-color: var(--light-gray);
    }
    .navBar__subMenu--fonte a {
      font-size: 0.9rem;
    }
    .navBar__dropdown:hover .navBar__subMenu {
      display: block;
    }

    .titulo {
      grid-area: 3 / 1;
      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0;
    }
  }

  @media screen and (min-width: 1440px) {
    .navBar--fonte a {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    .titulo {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

@layer conteudo {
  .innerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .barraEsquerda,
  .barraDireita {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .margin > div:not(.filmes) {
    margin: 16px;
  }

  .roloDeFotos {
    display: none;
  }

  .filmes {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
  .filmes__titulo {
    grid-area: 1 / 1;
    font-family: StarJedi Special Edition;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--yellow);
    padding: 10px;
    margin: 0;
  }
  .filmes__conjunto {
    grid-area: 2 / 1;
    overflow-x: auto;
    display: flex;
  }
  .filmes__item {
    display: flex;
    flex-direction: column;
    margin: 0 16px 0;
  }
  .filmes__item--img {
    max-width: 100%;
    height: auto;
  }
  .filmes__item--p {
    color: var(--yellow);
    text-align: end;
    width: 130px;
    margin: 4px 0 4px;
  }

  .personagens,
  .especies,
  .naves,
  .veiculos,
  .planetas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    padding: 10px;
    gap: 10px;
    max-width: 300px;
    background-color: var(--white);
    border-radius: 5px;
  }

  .tituloSeção {
    grid-area: 1 / 1;
    font-family: StarJedi Special Edition;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 10px;
    background-color: var(--yellow);
    border-radius: 5px;
  }

  .conjuntoItens {
    grid-area: 2 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .item--img {
    max-width: 100%;
    height: auto;
  }
  .item--p {
    text-align: center;
    width: 129px;
    margin: 0;
  }

  .conjuntoItens div:nth-child(n + 5) {
    display: none;
  }

  .botão a {
    grid-area: 3 / 1;
    margin: auto;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .botão--fonte a {
    font-size: 1rem;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
  }
  .botão--seta {
    width: 1rem;
    height: auto;
  }

  .planetas {
    background-color: var(--black);
    margin-bottom: 100px;
  }
  .tituloSeção__planetas {
    color: var(--white);
    background-color: var(--black);
  }
  .conjuntoItens__planetas {
    color: var(--white);
  }
  .botão__planetas a {
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
  }

  @media screen and (min-width: 375px) {
    .filmes__titulo,
    .tituloSeção {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }

    .filmes__item--p,
    .item--p {
      width: 145px;
    }
  }

  @media screen and (min-width: 600px) {
    .filmes__titulo,
    .tituloSeção {
      font-size: 2rem;
      line-height: 2rem;
      padding: 15px;
    }

    .filmes__item--p,
    .item--p {
      width: 150px;
    }

    .personagens,
    .especies,
    .naves,
    .veiculos,
    .planetas {
      padding: 15px;
      gap: 15px;
      max-width: fit-content;
    }

    .conjuntoItens,
    .item {
      gap: 15px;
    }

    .item--p {
      font-size: 1.25rem;
    }

    .conjuntoItens div:nth-child(4) {
      display: none;
    }

    .botão--fonte a {
      font-size: 1.25rem;
    }
    .botão--seta {
      width: 1.25rem;
    }
  }

  @media screen and (min-width: 768px) {
    .roloDeFotos {
      display: block;
    }

    .filmes__titulo,
    .tituloSeção {
      font-size: 2.5rem;
      line-height: 2.5rem;
      padding: 20px;
    }

    .filmes__item--p,
    .item--p {
      width: 155px;
    }

    .personagens,
    .especies,
    .naves,
    .veiculos,
    .planetas {
      padding: 20px;
      gap: 20px;
    }

    .conjuntoItens,
    .item {
      gap: 20px;
    }

    .conjuntoItens div:nth-child(4) {
      display: block;
    }
  }

  @media screen and (min-width: 1024px) {
    .barraEsquerda,
    .barraDireita {
      display: none;
      width: 150px;
    }
  }

  /* @media screen and (min-width: 580px) {
    .conjuntoItens {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 768px) {
    .roloDeFotos {
      display: block;
    }

    .conjuntoItens > div:nth-child(5) {
      display: block;
    }

    .filmes__item img {
      width: 150px;
      height: 172px;
    }
    .filmes__item--fonte p {
      width: 150px;
    }

    .filmes__titulo,
    .tituloSeção h2 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .filmes__item img {
      width: 180px;
      height: 202px;
    }
    .filmes__item--fonte p {
      width: 180px;
    }

    .filmes__titulo,
    .tituloSeção h2 {
      font-size: 4.375rem;
      line-height: 4.375rem;
    }

    .itens img {
      width: 160px;
      max-width: 180px;
      height: auto;
    }
    .descriçãoItem p {
      width: 160px;
      max-width: 180px;
    }
  }

  @media screen and (min-width: 1440px) {
    .conjuntoItens > div:nth-child(6) {
      display: block;
    }

    .ordem__titulo,
    .tituloSeção h2 {
      font-size: 5rem;
      line-height: 5rem;
    }

    .filmes__item img {
      width: 260px;
      height: 282px;
    }
    .filmes__item--fonte p {
      width: 260px;
    }

    .itens img {
      width: 170px;
      max-width: 190px;
      height: auto;
    }
    .descriçãoItem p {
      width: 170px;
      max-width: 190px;
    }
  } */
}

@layer footer {
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    margin: 100px 0 25px;
  }

  footer > div {
    margin: 25px 16px 25px;
  }

  .botãoTopo a {
    grid-area: 1 / 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
  }
  .botãoTopo--fonte a {
    font-size: 1rem;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
  }
  .botãoTopo--seta {
    width: 1rem;
    height: auto;
  }

  .mapaDoSite--titulo,
  .desenvolvedores--titulo {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .mapaDoSite {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapaDoSite__conjuntoLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .mapaDoSite__links a {
    display: flex;
    white-space: nowrap;
    gap: 5px;
  }
  .mapaDoSite__links--fonteLinks a {
    color: var(--white);
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
  }

  .desenvolvedores {
    grid-area: 3 / 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .desenvolvedores__conjuntoItens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .desenvolvedores__Item {
    display: flex;
    flex-direction: column;
    width: 165px;
  }
  .desenvolvedores__Item--fonte {
    color: var(--white);
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
  }
  .desenvolvedores__redesSociais {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0;
  }
}
