@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.333;

    --yellow: rgba(255, 225, 19, 1);

    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --gray11: rgba(28, 28, 28, 1);
    --gray21: rgba(54, 54, 54, 1);
    --gray31: rgba(79, 79, 79, 1);
    --dim-gray: rgba(105, 105, 105, 1);
    --gray: rgba(128, 128, 128, 1);
    --dark-gray: rgba(169, 169, 169, 1);
    --silver: rgba(192, 192, 192, 1);
    --light-gray: rgba(211, 211, 211, 1);
    --gainsboro: rgba(220, 220, 220, 1);

    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: calc(var(--p) * var(--scale));
    --p: var(--base-size);

    --fonte-principal: StarJedi Special Edition;
    --fonte-secundaria: inter, sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: initial;
  }

  html {
    font-size: 100%;
  }

  body {
    font-family: var(--fonte-secundaria);
    font-weight: 800;
    line-height: var(--base-size);
    letter-spacing: 0.25px;
    text-align: center;
    background-color: var(--black);
    margin: 0;
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  p,
  .p {
    font-size: var(--p);
  }

  .wrapper {
    min-width: 320px;
  }

  img {
    width: 100%;
    max-width: 100%;
  }

  ::selection {
    background-color: var(--gray);
    color: var(--yellow);
  }
}

@layer preset {
  .btn {
    cursor: pointer;
    transition: 0.2s ease;
  }

  .btn:hover {
    transform: scale(1.05);
  }
  .btn:active {
    transform: scale(0.95);
  }

  .btn--fonte {
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
  }

  .btnTopo--img {
    width: 1rem;
  }

  .animationWord:hover {
    transform: scale(1.01);
  }
  .animationWord:active {
    transform: scale(0.99);
  }

  .hoverWhite:hover {
    color: var(--white);
  }
  .hoverBlack:hover {
    color: var(--black);
  }
  .activeYellow:active {
    color: var(--yellow);
  }

  .fonte-navegação {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: var(--dim-gray);
    transition: 0.3s ease;
  }
  .fonte-navegaçãoSubmenu {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 750;
    text-transform: uppercase;
    color: var(--dim-gray);
  }

  .fonte-tituloFooter {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin: 0px 0 20px;
    color: var(--white);
  }

  .colorWhite {
    color: var(--white);
  }
  .colorBlack {
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    .fonte-navegação {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .fonte-navegaçãoSubmenu {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .fonte-navegação {
      font-size: 1.625rem;
      line-height: 1.625rem;
    }
    .fonte-navegaçãoSubmenu {
      font-size: 1.375rem;
      line-height: 1.375rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .fonte-navegação {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
    .fonte-navegaçãoSubmenu {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

@layer header {
  header {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .logo {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-self: end;
    margin-right: 16px;
    max-width: 160px;
  }

  .navBar {
    display: none;
  }

  .menuIcon {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    width: 40px;
    margin-left: 16px;
  }

  .menu {
    z-index: 3;
    height: 100%;
    width: 320px;
    padding: 32px 16px 32px 32px;
    border-right: 2px solid var(--dark-gray);
    background-color: var(--black);
    transition: left 0.5s ease;
  }
  .menu--positionStart {
    position: absolute;
    left: -360px;
    top: 165px;
  }
  .menu--positionOpen {
    left: 0px;
  }

  .noScroll {
    overflow: hidden;
  }
  .blurBackground {
    filter: blur(5px) opacity(0.7);
  }

  .menu--contentPosition {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 32px;
  }
  .menu__dropdown--contentPosition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 272px;
  }
  .menu__dropdown--chevron {
    max-width: 24px;
    transition: 0.3s ease;
  }
  .menu__dropdown--chevronOpen {
    transform: rotate(-180deg);
  }

  .menu__submenu {
    display: none;
    margin: 30px 0 0 20px;
  }
  .menu__submenuOpen {
    display: block;
  }

  .slogan {
    padding: 10px;
    margin: 20px 0 0;
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    background-color: var(--black);
  }
  .slogan--position {
    grid-area: 2 / 1 / 2 / 3;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .slogan--fonte {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    color: var(--yellow);
  }
  .slogan--img {
    max-width: 1.5rem;
  }

  @media screen and (min-width: 375px) {
    /* tela mobile */
    .slogan--fonte {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
    .slogan--img {
      max-width: 1.75rem;
    }
  }

  @media screen and (min-width: 768px) {
    /* tela tablet */
    .logo {
      max-width: 180px;
    }

    .menuIcon {
      width: 50px;
    }

    .menu {
      top: 175px;
    }

    .slogan--fonte {
      font-size: 2rem;
      line-height: 2rem;
    }
    .slogan--img {
      max-width: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    /* tela desktop */
    header {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
    }

    .logo {
      grid-area: 1 / 1;
      justify-self: center;
      max-width: 200px;
    }

    .menuIcon--position {
      display: none;
    }

    .navBar {
      grid-area: 2 / 1;
      display: inline-flex;
      gap: 35px;
      padding: 5px;
      margin: 20px;
      background-color: var(--white);
    }
    .navBar__dropdown {
      position: relative;
    }
    .navBar__submenu {
      display: none;
      width: 215px;
      padding: 20px 18px 20px;
      background-color: var(--gainsboro);
      border-right: 2px solid var(--dim-gray);
      border-bottom: 2px solid var(--dim-gray);
      border-left: 2px solid var(--dim-gray);
    }
    .navBar__submenu--position {
      z-index: 5;
      position: absolute;
      top: 31px;
      left: -20px;
      text-align: left;
    }
    .navBar__dropdown:hover .navBar__submenu {
      display: block;
    }

    .slogan {
      grid-area: 3 / 1;
      font-size: 2.25rem;
      line-height: 2.25rem;
      margin: 0;
    }
    .slogan--img {
      max-width: 2.25rem;
    }
  }

  @media screen and (min-width: 1440px) {
    /* tela desktop */
    .navBar__submenu {
      width: 300px;
    }
    .navBar__submenu--position {
      top: 33px;
    }
  }
}

@layer base-content {
  .innerWrapper {
    display: flex;
    justify-content: center;
    background-image: url(../img/shared/background-Estrelas.png);
    background-size: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 16px 100px;
    background-color: var(--black);
  }
}

@layer footer {
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    margin: 25px 16px 50px;
  }

  .btnTopo {
    grid-area: 1 / 1;
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-left: auto;
  }

  .navFooter {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 20px;
  }
  .links__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .links__item--fonte {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
  }
  .links__item--img {
    height: 1rem;
    width: 1rem;
  }

  .desenvolvedores {
    grid-area: 3 / 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 0 0;
  }
  .grupoDev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .grupoDev__item > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 165px;
  }
  .grupoDev__item--fonte {
    color: var(--white);
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .grupoDev__item--img {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  /* resposta ao clique do usuário */
  .grupoDev__item--img > a:hover {
    transform: scale(1.05);
  }
  .grupoDev__item--img > a:active {
    transform: scale(0.98);
    fill: var(--yellow);
  }

  @media screen and (min-width: 768px) {
    .titulosFooter {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
